.login-container {
  display: block;
  text-align: center;
  min-width: 500px;
  margin: 150px auto;
  padding: 20px;
  border-radius: 10px;
  background: white;
}

.login-form button {
  width: 100%;
}

.login-layout {
  height: 100vh;
}