
.header {
  display: flex;
  font-size: 18px;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  background-color: inherit;
  border: none;
  color: white;
  font-size: 24px;
  margin: auto 0;
  cursor: pointer;
}

.navbar-menu {
  width: 100%;
}

.navbar-menu a span {
  padding-right: 5px;
  font-size: 100%;
}

.navbar-settings {
  display: flex;
}

.navbar-settings a {
  color: white;
}

.navbar-workspace-select {
  min-width: 150px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

